{#
/**
 * @file
 * Default theme implementation to display a formatted image field with a caption.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 * - caption : An optional image caption.
 *
 * @see template_preprocess_image_caption_formatter()
 *
 * @ingroup themeable
 */
#}
{% macro properties_block(attribution, caption_title, caption, link_properties, link_target) %}
  {% if attribution or caption_title or caption %}
    {% if link_properties %}
      <a href="{{ link_properties }}" {{ link_target ? ('target="' ~ link_target ~ '"') }}>
    {% endif %}
    <div class="image-captions">
      {% if attribution %}
        <div class="image-attribution">{{ attribution|raw }}</div>
      {% endif %}
      {% if caption_title %}
        <div class="image-caption-title">{{ caption_title|raw }}</div>
      {% endif %}
      {% if caption %}
        <div class="image-caption">{{ caption|raw }}</div>
      {% endif %}
    </div>
    {% if link_properties %}
      </a>
    {% endif %}
  {% endif %}
{% endmacro %}


{% if render_at_top %}
  {{ _self.properties_block(attribution, caption_title, caption, link_properties, link_target) }}
{% endif %}

{% if link_image %}
  <a href="{{ link_image }}" {{ link_target ? ('target="' ~ link_target ~ '"') }}>
{% endif %}
  {{ image }}
{% if link_image %}
  </a>
{% endif %}

{% if not render_at_top %}
  {{ _self.properties_block(attribution, caption_title, caption, link_properties, link_target) }}
{% endif %}
